@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
html,
body {
  background: linear-gradient(yellow, orange, blue);
  font-family: "Kumbh Sans", serif;
}

header {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-container {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 50%;
  height: 70%;
  border-radius: 10px;
}

.social-login {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-login button {
  border: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #000;
}
.social-login img {
  width: 25px;
  height: 25px;
}
.social-login i {
  font-size: 25px;
}
.social-login button:hover {
  background-color: black;
  color: white;
}

.login-container form {
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}
.userName,
.password {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.loginform .placeholder {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.loginform .loginbtn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  min-width: 100%;
  font-size: 24px;
}
.forgot-password {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-decoration: none;
  margin-bottom: 0px;
}

@media (min-width: 400px) {
  .login-container {
    width: 100%;
    height: 100%;
    padding: 50px;
  }
  .login-container h3 {
    font-size: 50px;
  }

  .social-login {
    flex-direction: column;
    gap: 15px;
    width: 80%;
  }
  .social-login img {
    width: 50px;
    height: 50px;
  }
  .social-login i {
    font-size: 50px;
  }

  .social-login button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 50px;
  }
  .loginform {
    width: 80%;
    padding: 50px;
    font-size: 20px;
  }
  .loginform .loginbtn {
    font-size: 40px;
  }
  .password,
  .userName,
  .placeholder {
    font-size: 50px;
  }
  .forgot-password {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .signup-link,
  a {
    font-size: 30px;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .horizontal-line {
    font-size: 30px;
    margin-bottom: 20;
  }
  .loginform .loginbtn {
    padding: 30px;
  }
}

@media (min-width: 992px) {
  .login-container {
    width: 45%;
    height: 70%;
  }
  .social-login {
    flex-direction: column;
    gap: 15px;
  }
  .social-login {
    flex-direction: column;
    gap: 15px;
    width: 80%;
  }

  .social-login button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginform {
    width: 80%;
    padding: 50px;
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .login-container {
    width: 35%;
    height: 70%;
  }

  .social-login {
    flex-direction: column;
    gap: 15px;
    width: 80%;
  }

  .social-login button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginform {
    width: 80%;
    padding: 50px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .login-container {
    width: 100%;
    height: 100%;
  }
  .social-login {
    flex-direction: column;
    gap: 15px;
  }

  .loginform {
    width: 60%;
    font-size: 20px;
  }
}
