html,
body {
  background: linear-gradient(yellow, orange, blue);
}

header {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-container {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 50%;
  height: 70%;
}

.social-login {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-login button {
  border: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.social-login img {
  width: 25px;
  height: 25px;
}

.login-container form {
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}
.userName,
.password {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  border: none;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 100px;
  margin: 20px;
}

.horizontal-line::after {
  background: white;
  content: "or";
  padding: 0 4px;
  position: relative;
  top: -20px;
}

.loginform .placeholder {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.loginform .loginbtn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #21319a;
  color: white;
  cursor: pointer;
  min-width: 100px;
}
.forgot-password {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-decoration: none;
}

@media (min-width: 475px) {
  .login-container {
    width: 100%;
    height: 50%;
  }
}

@media (min-width: 768px) {
  .login-container {
    width: 100%;
    height: 70%;
  }

  .social-login {
    flex-direction: row;
    gap: 15px;
  }
  .loginform {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .login-container {
    width: 45%;
    height: 70%;
  }
}

@media (min-width: 1200px) {
  .login-container {
    width: 35%;
    height: 70%;
  }
}

@media (max-width: 767px) {
  .login-container {
    width: 100%;
    height: 80%;
  }
}
